body{
    background-color: beige;
    
}
.buttons{
    margin: 50px;
}
.buttons a{
    border: 1px solid wheat;
    margin: 20px;
    padding: 10px 30px 10px 30px;
    background-color: wheat;
    text-decoration: none;
    color: black;
    font-size: 15px;
    transition: 1s all;
    
}
.buttons a:hover{
    background-color: #fff;
    color: black;
    padding: 20px 40px 20px 40px;
}
.forms{
    margin: 10px;
    
}
.forms label{
    font-size: 20px;
}
.forms input{
    border-color: darkred;
    margin: 10px;
    padding: 7px;
}